<% if !@posts.empty? %>
  <% @posts.each do |post| %>
    <div class="card my-4">
      <div class="card-body">
        <!-- display edit/delete buttons only if user is on own blog -->
        <% if @user == @blog_owner %>
          <div class="dropdown float-right">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="postEditDelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div id="post-edit-delete" class="dropdown-menu dropdown-menu-right" aria-labelledby="postEditDelete">
              <a class="dropdown-item" href="/posts/<%= post.id %>/edit">edit</a>
              <a class="dropdown-item" href="/posts/<%= post.id %>/delete">delete</a>
            </div>
          </div>
        <% end %>
        <div class="mb-3"><small><a href="/users/<%= post.user.id %>"><%= post.user.username %></a></small></div>
        <blockquote class="blockquote mb-0">
          <p><%= post.quote %></p>
          <footer class="blockquote-footer"><%= post.author %></footer>
        </blockquote>
        <br>
        <% post.tags.each do |tag| %>
          <small>#<%= tag.content %></small>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @posts %>
<% else %>
  <% if @user == @blog_owner %>
    <p>you haven't published anything yet.</p>
    <p>click <a href="/posts/new">post</a> in the navigation bar to start sharing and inspire others!</p>
  <% else %>
    <p><%= @blog_owner.username %> hasn't shared anything yet.</p>
  <% end %>
<% end %>
