<div class="container">
  <form action="/posts/<%= @post.id %>" method="post">
    <div class="card my-5 col-lg-8 offset-lg-2">
      <div class="card-body">
        <input type="hidden" name="_method" value="put">
        <blockquote class="blockquote mb-0">
          <div class="form-group">
            <textarea name="quote" class="form-control" rows="3" id="postId" value="<%= @post.quote %>"><%= @post.quote %></textarea>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">—</span>
              </div>
              <input name="author" class="form-control form-control-sm" type="text" value="<%= @post.author %>" id="postSource">
            </div>
          </div>
        </blockquote>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">#</span>
            </div>
            <input name="tags" class="form-control form-control-sm" type="text" value="<%= @post.tags.map { |tag| tag.content }.join(" ") %>" id="postTags">
          </div>
        </div>
        <button type="submit" class="btn btn-success float-right">save</button>
      </div>
    </div>
  </form>
</div>
